{% load static %}
<head xmlns="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'DB/chosen.jquery.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'DB/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'DB/chosen.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="add_links">
            <img src="https://image.flaticon.com/icons/svg/25/25304.svg" id="add" class="side">
            <a href="{% url 'DB:add' %}" class="link">Add a note</a> <br>
            <a href="{% url 'DB:add_firm' %}" class="link">Add a firm</a> <br>
            <a href="{% url 'DB:add_ware' %}" class="link">Add a ware</a>
        </div>
        <div class="config_links">
            <img src="https://static.thenounproject.com/png/1241-200.png" id="config" class="side">
            <a href="{% url 'DB:index' %}" class="link">Configure</a>
        </div>
        <div class="info_links">
            <img src="https://cdn4.iconfinder.com/data/icons/defaulticon/icons/png/256x256/info.png" id="info" class="side">
            <a href="{% url 'DB:info' %}" class="link">Buying Info</a> <br>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="link">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="link">Login</a>
            {% endif %}
        </div>
    </div>

<div class="main">
    <h1> New consignment note </h1> <br>

    {% if name_error or email_phone_error or already_exists or switch %}
        <label class="error_switch" style="display: none"></label>
    {% endif %}

    <form id="add" method="post" action="{% url 'DB:add' %}" style="margin-top: -20px">
        {% csrf_token %}
        <br><span>Pick a customer:</span> <br>
        <input class="flag" name="flag" type="text">
        {% if already_exists %}
            <h3 style="color: red">The customer already exists, use existing tab</h3>
        {% endif %}
        <div class="existing">
            <select name="existing" class="customer" data-placeholder="Select a customer..." tabindex="-1" >
                <option> </option>
                {% if customer_list %}
                    {% for customer in customer_list %}
                        {% if customer.phone_number %}
                            <option> {{ customer.full_name }}, {{ customer.phone_number }}</option>
                        {% else %}
                            <option>{{ customer.full_name }}, {{ customer.email }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
            {% if existing_error %}
                <label style="color: red">* - please select a customer or create a new one</label>
            {% endif %}
            <br>
            <button type="button" id="new">New</button>
        </div>

        <div class="new">
            <label><b>NOTE:</b> while creating a new user, fill name and either email or phone (can be both)</label> <br> <br>
            <label for="name">Enter name: </label> <br>
            <input value="{{ name }}" name="name" type="text" title="Name" id="name">
            {% if name_error %}
                <label style="color: red"> * - please type customer's name</label>
            {% endif %}
            <br>
            {% if email_phone_error %}
                <label>Enter email: <br> </label><input value="{{ email }}" name="email" type="text" title="Email" id="email"><label style="color: red"> * - please fill this field</label> <br>
                <label>Enter phone number: <br> </label><input value="{{ phone }}" name="phone" type="text" title="phone_number" id="phone_num"><label style="color: red"> * - or this one</label> <br>
            {% else %}
                <label for="email">Enter email: </label> <br>
                <input value="{{ email }}" name="email" type="text" title="Email" id="email"> <br>
                <label for="phone_num">Enter phone number: </label> <br>
                <input value="{{ phone }}" name="phone" type="text" title="phone_number" id="phone_num"> <br>
            {% endif %}
            <button type="button" id="existing">Existing</button>
        </div>

        <br><span>Choose wares and their quantity:</span><br>
        <div class="placeholder">
        {% if chosen_wares %}
            {% for err_ware in chosen_wares %}
                <select name="ware_{{ forloop.counter }}" class="ware" data-placeholder="Select a ware..." tabindex="-1">
                    <option> </option>
                        {% if ware_list %}
                            {% for ware in ware_list %}
                                {% if ware.name == err_ware.0 %}
                                    <option selected="selected" > {{ ware.name }}</option>
                                {% else %}
                                    <option> {{ ware.name }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </select>
                <input value="{{ err_ware.1 }}" name="quantity_{{ forloop.counter }}" type="text" class="priceBox" style="width: 50px">
                {% if forloop.counter0 in unfilled_wares %}
                    <label style="color: red">* - please fill both fields</label>
                {% endif %}
                <br>
            {% endfor %}
        {% else %}
            <select name="ware_1" class="ware" data-placeholder="Select a ware..." tabindex="-1">
                    <option> </option>
                        {% if ware_list %}
                            {% for ware in ware_list %}
                                <option> {{ ware.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                <input name="quantity_1" type="text" class="priceBox" style="width: 50px"><br>
        {% endif %}
        </div>

        <button type="button" id="plus">+</button>
        <button type="button" id="minus">-</button>
        <br>
        <br>
        <br>
        <br>
        <button type="submit" id="submit">Add</button>
    </form>
</div>
</body>

<script>
    $(document).ready(function () {
        $('.customer').chosen();
        $('.ware').chosen();
        $('.priceBox').forceNumeric();
        $('#phone_num').forceNumeric();
        $('.flag').hide();
        if ($('.error_switch').length) {
            $('.existing').hide();
            $('.flag').val('n');
        } else {
            $('.new').hide();
            $('.flag').val('e');
        }
    });

    $('#plus').click(function () {
        $('.ware').last().clone().appendTo('.placeholder');
        $('.ware').last().css('display', 'block');
        $('.ware').last().attr('name', 'ware_' + $('.ware').length);
        $('.ware').last().children().removeAttr('selected')
        $('.ware').last().chosen();
        $('.chosen-container').last().css('display', 'inline-block');
        $('.priceBox').last().clone().appendTo('.placeholder');
        $('.priceBox').last().forceNumeric();
        $('.priceBox').last().css('margin-left', '5px');
        $('.priceBox').last().val('');
        $('.priceBox').last().attr('name', 'quantity_' + $('.priceBox').length);
        $('.placeholder').append('<br class="br">');
    });

    $('#minus').click(function () {
        if ($('.ware').length > 1) {
            $('.ware').last().remove();
            $('.chosen-container').last().remove();
            $('.priceBox').last().remove();
            $('.br').last().remove();
        }
    });

    $('#new').click(function () {
        $('.existing').hide();
        $('.new').show();
        $('.flag').val('n');
    });

    $('#existing').click(function () {
        $('.new').hide();
        $('#name').val('');
        $('#email').val('');
        $('#phone_num').val('');
        $('.existing').show();
        $('.flag').val('e');
    });

    jQuery.fn.forceNumeric = function () {
         return this.each(function () {
             $(this).keydown(function (e) {
                 let key = e.which || e.keyCode;

                 if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
                     key >= 48 && key <= 57 ||
                     key >= 96 && key <= 105 ||
                    key == 190 || key == 188 || key == 109 || key == 110 ||
                    key == 8 || key == 9 || key == 13 ||
                    key == 35 || key == 36 ||
                    key == 37 || key == 39 ||
                    key == 46 || key == 45)
                     return true;

                 return false;
             });
         });
    }
</script>