{% load static %}
<head xmlns="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'DB/chosen.jquery.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'DB/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'DB/chosen.css' %}">
</head>

<body>
    <div class="sidebar">
        <div class="add_links">
            <img src="https://image.flaticon.com/icons/svg/25/25304.svg" id="add" class="side">
            <a href="{% url 'DB:add' %}" class="link">Add a note</a> <br>
            <a href="{% url 'DB:add_firm' %}" class="link">Add a firm</a> <br>
            <a href="{% url 'DB:add_ware' %}" class="link">Add a ware</a>
        </div>
        <div class="config_links">
            <img src="https://static.thenounproject.com/png/1241-200.png" id="config" class="side">
            <a href="{% url 'DB:index' %}" class="link">Configure</a>
        </div>
        <div class="info_links">
            <img src="https://cdn4.iconfinder.com/data/icons/defaulticon/icons/png/256x256/info.png" id="info" class="side">
            <a href="{% url 'DB:info' %}" class="link">Buying Info</a> <br>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="link">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="link">Login</a>
            {% endif %}
        </div>
    </div>

    <div class="main">
        <h1>Add a ware</h1><br>
        {% if error %}
            <h3 style="color: red; margin-top: 0px; padding-top: 0px">* A ware with this name already exists</h3>
        {% endif %}
        <form id="addWare" method="post" action="{% url 'DB:add_ware' %}">
        {% csrf_token %}
            <label id="err_name" for="name">Enter a name: <br> <input id="name" name="name"></label><br>
            <label id="err_price" for="price">Enter a price: <br><input id="price" name="price"></label><br>
            <div id="error">
                <select id="firm" name="manufacturer" data-placeholder="Select a firm...">
                    <option></option>
                    {% for firm in firms %}
                        <option>{{ firm.name }}</option>
                    {% endfor %}
                </select>
            </div>
        <button type="submit">Add</button>
        </form>
    </div>
</body>

<script>
    $(document).ready(function () {
        $('#firm').chosen();
        $('#price').forceNumeric();
    });

    $('#addWare').submit(function (e) {
        $('.kill').each(function () {
            $(this).remove();
        });
        if ($('#name').val() === '') {
            $('#err_name').append('<label class="kill" style="color:red"> * - please fill</label>');
            e.preventDefault();
        }
        if ($('#price').val() === '') {
            $('#err_price').append('<label class="kill" style="color:red"> * - please fill</label>');
            e.preventDefault();
        }
        if ($('#firm option:selected').text() === '') {
            $('#error').append('<label class="kill" style="color:red"> * - please fill</label>');
            e.preventDefault();
        }
    });

    jQuery.fn.forceNumeric = function () {
         return this.each(function () {
             $(this).keydown(function (e) {
                 let key = e.which || e.keyCode;

                 if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
                     key >= 48 && key <= 57 ||
                     key >= 96 && key <= 105 ||
                    key == 190 || key == 188 || key == 109 || key == 110 ||
                    key == 8 || key == 9 || key == 13 ||
                    key == 35 || key == 36 ||
                    key == 37 || key == 39 ||
                    key == 46 || key == 45)
                     return true;

                 return false;
             });
         });
    }
</script>