{% load static %}
<head xmlns="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'DB/styles/style.css' %}">

<body>
    <div class="sidebar">
        <div class="add_links">
            <img src="https://image.flaticon.com/icons/svg/25/25304.svg" id="add" class="side">
            <a href="{% url 'DB:add' %}" class="link">Add a note</a> <br>
            <a href="{% url 'DB:add_firm' %}" class="link">Add a firm</a> <br>
            <a href="{% url 'DB:add_ware' %}" class="link">Add a ware</a>
        </div>
        <div class="config_links">
            <img src="https://static.thenounproject.com/png/1241-200.png" id="config" class="side">
            <a href="{% url 'DB:index' %}" class="link">Configure</a>
        </div>
        <div class="info_links">
            <img src="https://cdn4.iconfinder.com/data/icons/defaulticon/icons/png/256x256/info.png" id="info" class="side">
            <a href="{% url 'DB:info' %}" class="link">Buying Info</a> <br>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="link">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="link">Login</a>
            {% endif %}
        </div>
    </div>

    <div class="main">
        <h1>Add a firm</h1> <br>
        {% if error %}
            <h3 style="color: red; margin-top: 0px; padding-top: 0px">* A firm with this name already exists</h3>
        {% endif %}
        <form id="addFirm" method="post" action="{% url 'DB:add_firm' %}">
        {% csrf_token %}
            <label id="name_err" for="name">Enter a name: <br><input id="name" name="name" ></label><br>
            <label id="number_err" for="number">Enter a number: <br><input id="number" name="number" ></label><br>
            <label id="address_err" for="address">Enter an address: <br><input id="address" name="address"></label><br>
        <button type="submit">Add</button>
        </form>
    </div>
</body>

<script>
    $(document).ready(function () {
        $('#number').forceNumeric();
    });

    $('#addFirm').submit(function (e) {
        $('.kill').each(function () {
            $(this).remove();
        });
        if ($('#name').val() === '') {
            $('#name_err').append('<label class="kill" style="color:red"> * - please fill</label>');
            e.preventDefault();
        }
        if ($('#number').val() === '') {
            $('#number_err').append('<label class="kill" style="color:red"> * - please fill</label>');
            e.preventDefault();
        }
        if ($('#address').val() === '') {
            $('#address_err').append('<label class="kill" style="color:red"> * - please fill</label>');
            e.preventDefault();
        }
    });

    jQuery.fn.forceNumeric = function () {
         return this.each(function () {
             $(this).keydown(function (e) {
                 let key = e.which || e.keyCode;

                 if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
                     key >= 48 && key <= 57 ||
                     key >= 96 && key <= 105 ||
                    key == 190 || key == 188 || key == 109 || key == 110 ||
                    key == 8 || key == 9 || key == 13 ||
                    key == 35 || key == 36 ||
                    key == 37 || key == 39 ||
                    key == 46 || key == 45)
                     return true;

                 return false;
             });
         });
    }
</script>