{% load static %}
{% load normal_indexing %}

<head xmlns="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'DB/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'DB/chosen.css' %}">
</head>

<body>
    <div class="sidebar">
        <div class="add_links">
            <img src="https://image.flaticon.com/icons/svg/25/25304.svg" id="add" class="side">
            <a href="{% url 'DB:add' %}" class="link">Add a note</a> <br>
            <a href="{% url 'DB:add_firm' %}" class="link">Add a firm</a> <br>
            <a href="{% url 'DB:add_ware' %}" class="link">Add a ware</a>
        </div>
        <div class="config_links">
            <img src="https://static.thenounproject.com/png/1241-200.png" id="config" class="side">
            <a href="{% url 'DB:index' %}" class="link">Configure</a>
        </div>
        <div class="info_links">
            <img src="https://cdn4.iconfinder.com/data/icons/defaulticon/icons/png/256x256/info.png" id="info" class="side">
            <a href="{% url 'DB:info' %}" class="link">Buying Info</a> <br>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="link">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="link">Login</a>
            {% endif %}
        </div>
    </div>

    <div class="main confMain">

        <div class="tab">
            <button class="tabButton ware" onclick="switchTab(event, '#ware')">Wares</button>
            <button class="tabButton customer" onclick="switchTab(event, '#customer')">Customers</button>
            <button class="tabButton note" onclick="switchTab(event, '#note')">Consignment Notes</button>
            <button class="tabButton log" onclick="switchTab(event, '#log')">Logs</button>
            <button class="tabButton firm" onclick="switchTab(event, '#firm')">Firms</button>
        </div>

        <div id="ware" class="tabs">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Manufacturer</th>
                </tr>
                {% for ware in wares %}
                    <tr>
                        <td>{{ ware.id }}</td>
                        <td id="name">
                            <label class="swap">{{ ware.name }}</label>
                            <input class="changeable" value="{{ ware.name }}">
                        </td>
                        <td id="price">
                            <label class="swap">{{ ware.price }}</label>
                            <input class="changeable numeric" value="{{ ware.price }}">
                        </td>
                        <td>{{ firms|get:ware.firm_id_id }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="searchBar">
                <select>
                    <option>Name</option>
                    <option>Price</option>
                    <option>Manufacturer</option>
                </select>
                <input class="search">
            </div>
        </div>

        <div id="customer" class="tabs">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td id="full_name">
                            <label class="swap">{{ customer.full_name }}</label>
                            <input class="changeable" value="{{ customer.full_name }}">
                        </td>
                        <td id="email">
                            <label class="swap">{{ customer.email }}</label>
                            <input class="changeable" value="{{ customer.email }}">
                        </td>
                        <td id="phone_number">
                            <label class="swap">{{ customer.phone_number }}</label>
                            <input class="changeable numeric" value="{{ customer.phone_number }}">
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="searchBar">
                <select>
                    <option>Name</option>
                    <option>Email</option>
                    <option>Phone Number</option>
                </select>
                <input class="search">
            </div>
        </div>

        <div id="note" class="tabs unchangeable">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Customer</th>
                </tr>
                {% for note in notes %}
                    <tr>
                        <td>{{ note.id }}</td>
                        <td>{{ customers|get:note.customer_id_id }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="searchBar">
                <select>
                    <option>Customer</option>
                </select>
                <input class="search">
            </div>
        </div>

        <div id="log" class="tabs unchangeable">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Consignment Note ID</th>
                    <th>Ware</th>
                    <th>Quantity</th>
                    <th>Date</th>
                </tr>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.id }}</td>
                        <td>{{ log.consignment_note_id_id }}</td>
                        <td>{{ wares|get:log.ware_id_id }}</td>
                        <td>{{ log.ware_quantity }}</td>
                        <td>{{ log.date }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="searchBar">
                <select>
                    <option>Consignment Note ID</option>
                    <option>Ware</option>
                    <option>Quantity</option>
                    <option>Date</option>
                </select>
                <input class="search">
            </div>
        </div>

        <div id="firm" class="tabs">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                </tr>
                {% for firm in firms %}
                    <tr>
                        <td>{{ firm.id }}</td>
                        <td id="name">
                            <label class="swap">{{ firm.name }}</label>
                            <input class="changeable" value="{{ firm.name }}">
                        </td>
                        <td id="address">
                            <label class="swap">{{ firm.address }}</label>
                            <input class="changeable" value="{{ firm.address }}">
                        </td>
                        <td id="phone_number">
                            <label class="swap">{{ firm.phone_number }}</label>
                            <input class="changeable numeric" value="{{ firm.phone_number }}">
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="searchBar">
                <select>
                    <option>Name</option>
                    <option>Address</option>
                    <option>Phone Number</option>
                </select>
                <input class="search">
            </div>
        </div>
    </div>

    <div class="changeButtons">
        {% for i in max %}
            <div class="buttonDiv">
                <button class="changeButton"><img src="https://static.thenounproject.com/png/1241-200.png" class="pic"></button>
                <button class="delButton"><img src="http://cdn.onlinewebfonts.com/svg/img_464783.png" class="pic"></button>
                <button class="confirmButton"><img src="https://png.icons8.com/metro/1600/checkmark.png" class="pic"></button>
                <button class="resetButton"><img src="https://ubisafe.org/images/vector-remove-3.png" class="pic"></button>
            </div>
        {% endfor %}
    </div>
    <div class="misc" style="display: none">
         <label id="pointer" >{{ default }}</label>
        <label id="token">{% csrf_token %}</label>
        <label id="lnk">{% url 'DB:index' %}</label>
    </div>
</body>

<script>
     $(document).ready(function () {
        $('.tabButton.' + $('#pointer').text()).trigger('click');
        $('.numeric').each(function () {
            $(this).forceNumeric();
        });
    });

    let switchTab = function (e, category) {
        if (!findActive('.confirmButton')) {
            let tabs = $('.tabs');

            for (let i = 0; i < tabs.length; i++) {
                $(tabs[i]).css('display', 'none');
            }

            let buttons = $('.tabButton');
            for (let i = 0; i < buttons.length; i++) {
                $(buttons[i]).removeClass('active');
            }

            $(category).css('display', 'block');
            $(this).attr('class', $(this).attr('class') + ' active');
        }
    };

    let findActive = function(selector) {
        let empty = $(document).find(selector).filter(function () {
            return $(this).is(':visible');
        });

        return empty.length;
    };

    $('tr').hover(function () {
        if ($(this).find('th').length === 0) {
            if ($(this).parent().parent().parent()[0].className === 'tabs') {
                let index = $(this).parent().children().index(this);
                let addButton = $('.changeButton').get(index - 1);
                let delButton = $('.delButton').get(index - 1);
                let confirmButton = $('.confirmButton').get(index - 1);
                if ($(confirmButton).is(':hidden')) {
                    if ($(addButton).is(':visible')) {
                        $(addButton).hide();
                        $(delButton).hide();
                    } else {
                        $(addButton).show();
                        $(delButton).show();
                    }
                }
            }
        }
    });

    $('.changeButton, .delButton').hover(function () {
        if ($(this).css('visibility') === 'visible') {
            $(this).parent().children().each(function () {
                if (this.className !== 'confirmButton' && this.className !== 'resetButton') {
                    $(this).show();
                }
            });
        }
    }, function () {
            $(this).parent().children().each(function () {
                if (this.className !== 'confirmButton' && this.className !== 'resetButton') {
                    $(this).hide();
                }
            });
    });

    let prepareData = function(index) {
        let table = $(".tabs[style='display: block;']");
        let data = {};
        data['table'] = table.attr('id');
        let cells = $(table.children().children().children().get(index)).children();
        for (let i = 0; i < cells.length; i++) {
            if (cells[i].id !== "") {
                if ($($(cells[i]).children()[0]).is(':visible')) {
                    data[cells[i].id] = $(cells[i]).children()[0].textContent;
                } else {
                    data[cells[i].id] = $(cells[i]).children()[1].value;
                }
            }
        }
        data['id'] = cells[0].textContent;
        return data;
    };

    let hideShow = function(hide, show, each) {
        if (each) {
            $(hide).each(function () {
                $(this).hide();
            });
            $(show).each(function () {
                $(this).show();
            });
        } else {
            $(hide).hide();
            $(show).show();
        }
    };

    $('.delButton').click(function () {
        let index = $(this).parent().parent().children().index($(this).parent()) + 1;
        let data = prepareData(index);
        $.ajax({
            url: $('#lnk').val(),
            method: 'DELETE',
            data: JSON.stringify(data),
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", $('[name=csrfmiddlewaretoken]').val());
            },
            success: function () {
                let href = window.location.href;
                window.location.href = href.substr(0, href.indexOf('?')) + '?default=' + data['table'];
            }
        });
    });

    $('.changeButton').click(function () {
        hideShow(this, $(this).parent().children()[2], false);
        hideShow($(this).parent().children()[1], $(this).parent().children()[3], false);

        let index = $(this).parent().parent().children().index($(this).parent()) + 1;
        let table = $(".tabs[style='display: block;']");

        hideShow($(table.children().children().children().get(index)).find('.swap'),
                $(table.children().children().children().get(index)).find('.changeable'), true);
    });

    $('.resetButton').click(function () {
        hideShow(this, $(this).parent().children()[1], false);
        hideShow($(this).parent().children()[2], $(this).parent().children()[0], false);

        let index = $(this).parent().parent().children().index($(this).parent()) + 1;
        let table = $(".tabs[style='display: block;']");

        hideShow($(table.children().children().children().get(index)).find('.changeable'),
                    $(table.children().children().children().get(index)).find('.swap'), true);

        $(table.children().children().children().get(index)).find('.changeable').each(function () {
            $(this).val($($(this).parent().children()[0]).text());
        })
    });

    $('.confirmButton').click(function () {
        let index = $(this).parent().parent().children().index($(this).parent()) + 1;
        let data = prepareData(index);

        $.ajax({
            url: $('#lnk').val(),
            method: 'PUT',
            data: JSON.stringify(data),
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", $('[name=csrfmiddlewaretoken]').val());
            },
            success: function () {
                let href = window.location.href;
                window.location.href = href.substr(0, href.indexOf('?')) + '?default=' + data['table'];
            }
        });
    });

    $('.search').keyup(function (e) {
        let column = $(this).parent().children()[0].value;
        let trs = $($(".tabs[style='display: block;']").children().children()[0]).children();
        let tr = trs[0];
        let index = -1;
        for (let i = 1; i < $(tr).children().length; i++) {
            if ($(tr).children()[i].textContent === column) {
                index = i;
                break;
            }
        }
        for (let i = 1; i < trs.length; i++) {
            if ($(trs[i]).children()[index].textContent.toLowerCase().indexOf(this.value.toLowerCase().trim()) !== -1) {
                $(trs[i]).show();
            } else {
                $(trs[i]).hide();
            }
        }
    });

    jQuery.fn.forceNumeric = function () {
         return this.each(function () {
             $(this).keydown(function (e) {
                 let key = e.which || e.keyCode;

                 if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
                     key >= 48 && key <= 57 ||
                     key >= 96 && key <= 105 ||
                    key == 190 || key == 188 || key == 109 || key == 110 ||
                    key == 8 || key == 9 || key == 13 ||
                    key == 35 || key == 36 ||
                    key == 37 || key == 39 ||
                    key == 46 || key == 45)
                     return true;

                 return false;
             });
         });
    };
</script>