<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'DB/chosen.jquery.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'DB/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'DB/chosen.css' %}">
    <title>Find buying history</title>
</head>
<body>
    <div class="sidebar">
        <div class="add_links">
            <img src="https://image.flaticon.com/icons/svg/25/25304.svg" id="add" class="side">
            <a href="{% url 'DB:add' %}" class="link">Add a note</a> <br>
            <a href="{% url 'DB:add_firm' %}" class="link">Add a firm</a> <br>
            <a href="{% url 'DB:add_ware' %}" class="link">Add a ware</a>
        </div>
        <div class="config_links">
            <img src="https://static.thenounproject.com/png/1241-200.png" id="config" class="side">
            <a href="{% url 'DB:index' %}" class="link">Configure</a>
        </div>
        <div class="info_links">
            <img src="https://cdn4.iconfinder.com/data/icons/defaulticon/icons/png/256x256/info.png" id="info" class="side">
            <a href="{% url 'DB:info' %}" class="link">Buying Info</a> <br>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="link">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="link">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="main">
        <h2>Find your note</h2><br>
        <span> Here you can find items you bought either by email or by phone number </span><br><br>

        <div id="error_placeholder"></div><br>

        <input id="search_input">

        <select tabindex="2" id="selector">
            <option>Email</option>
            <option>Phone</option>
        </select>

        <button id="search">Search</button> <br> <br>

        <div id="placeholder"></div>
    </div>

    <div class="misc" style="display: none">
        <label id="token">{% csrf_token %}</label>
        <label id="lnk">{% url 'DB:info' %}</label>
    </div>
</body>

<script>
    $('#search').click(function () {
        let data = {
            "query": $('#search_input').val(),
            "type": $('#selector option:selected').text()
        };
        console.log(data);
        $.ajax({
            url: $('#lnk').val(),
            method: 'POST',
            data: JSON.stringify(data),
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", $('[name=csrfmiddlewaretoken]').val());
            },
            success: function (data) {
                data = JSON.parse(data);
                if ('email_err' in data === true) {
                    $('#error_placeholder').empty();
                    $('#error_placeholder').append("<span style='color: red'>There's no customer with this email</span>");
                    return;
                }

                if ('number_err' in data === true) {
                    $('#error_placeholder').empty();
                    $('#error_placeholder').append("<span style='color: red'>There's no customer with this phone number</span>");
                    return;
                }
                let placeHolder = $('#placeholder');
                placeHolder.empty();
                let appendStr = "<table id='result'><th>Ware</th><th>Quantity</th><th>Total</th><th>Date</th>";
                for (let i = 0; i < data.length; i++){
                    appendStr += "<tr>";
                    appendStr += "<td>" + data[i]["ware"] + "</td>";
                    appendStr += "<td>" + data[i]["quantity"] + "</td>";
                    appendStr += "<td>" + data[i]["price"] + "</td>";
                    appendStr += "<td>" + data[i]["date"] + "</td></tr>";
                }
                appendStr += "</table>";
                placeHolder.append(appendStr);
                placeHolder.css('display', 'block');
            }
        });
    });
</script>
</html>