body {
    background: #CBC5EF;
    background: -webkit-linear-gradient(-45deg, #EAEAEA, #CBC5EF);
    background: linear-gradient(-45deg, #EAEAEA, #CBC5EF);
}

h1, h2, h3 {
    margin: 5px;
    color: #A663CC;
    text-shadow: 2px 2px 2px black;
}

.dropdown {
    text-align: center;
    font-size: 16px;
    display: inline-block;
}

.input {
    margin-left: 80px;
}

.customers {
    position: absolute;
    display: none;
}

.searchQuery {
    border: 1px solid;
    width: 230px;
    height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: justify;
    left: 64px;
    padding-left: 10px;
}

.side {
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
}

.add_links, .config_links, .info_links {
    background: #CBC5EA;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    width: 20px;
    max-height: 20px;
    border: solid black 1px;
    transition: max-height .3s ease-out, width .3s ease-out .2s;
}

.add_links:hover, .config_links:hover, .info_links:hover {
    width: 100px;
    max-height: 500px;
    transition: width .3s ease-in, max-height .3s ease-in .3s;
}

.link {
    text-decoration: none;
    display: block;
    width: 100px;
    color: black;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin-top: -20px;
}

.link:hover {
    background: gray;
}

.sidebar {
    width: 10%;
    height: 500px;
    float: left;
}

.main {
    width: 60%;
    float: left;
    height: 1px;
}

.changeButtons {
    float: left;
}

.confMain {
    width: 60%;
}

.tabButton {
    height: 25px;
    float: left;
    background: #e8e8e8;
    border: none;
    outline: none;
    transition: 0.2s;
}

.tabButton:hover {
    background: gray;
}

.tabButton.active {
    background: gray;
}

.tabs {
    width: 100%;
    display: none;
}

.tab {
    border: black solid 1px;
    height: 25px;
    width: 99.8%;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

th, td {
    border: black solid 1px;
    text-align: center;
}

td {
    height: 40px;
}

.ware {
    width: 15%;
}

.customer {
    border-left: black solid 1px;
    width: 20%;
}

.note {
    border-left: black solid 1px;
    width: 30%;
}

.log {
    border-left: black solid 1px;
    width: 15%;
}

.firm {
    border-left: black solid 1px;
    width: 20%;
}

.pic {
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

.changeButton, .delButton, .confirmButton, .resetButton {
    background: #CBC5EF;
    display: none;
    float: left;
    border: none;
}

.changeButtons {
    width: 100px;
    margin-top: 50px;
}

tr:hover {
    background: #e8e8e8;
}

.buttonDiv {
    width: 100px;
    height: 40px;
}

.changeable {
    text-align: center;
    display: none;
    width: 100%;
    height: 100%;
}

.searchBar {
    float: right;
}

